
.Signin-main-div{
  border: 1px white solid;
  height: 228px;
  width: 72%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.submit-button {
  font-size: 17px;
  color: black;
}
.signin-header-style {
   font-size: 23px;
}
.login-div {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}
.login-span {
  width: 29%;
}
  .login-input {
    width: 66%;
}
.password-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.password-span {
  width: 29%;
}
.password-input {
  width: 66%;
}